<a href="https://colab.research.google.com/github/nachoam/WebDataIronHack/blob/master/WeData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01 - Intro Python

https://docs.python.org/3/

![]()

Python es un lenguaje de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código. Se trata de un lenguaje de programación multiparadigma, ya que soporta parcialmente la orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma.

Es administrado por la Python Software Foundation. Posee una licencia de código abierto, denominada Python Software Foundation License.

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

**Tabla de contenidos:**

    1  Números enteros (integer)
    2  Números reales (float)
    3  Números complejos (complex)
    4  Operaciones básicas
    5  Booleanos
    6  Valores nulos (None)
    7  Cadenas de caracteres (string)
    8  Tipos compuestos:
        8.1  Listas
        8.2  Diccionarios
    9 Bucles
    10 Condicionales

## Números enteros (integer)

In [ ]:
edad = 38

In [ ]:
edad

38

In [ ]:
type(edad)

int

In [ ]:
type(-32)

int

## Números reales (float)

In [ ]:
temp=32.2

In [ ]:
temp

32.2

In [ ]:
type(temp)

float

In [ ]:
type(0.3)

float

In [ ]:
type(3.0)

float

## Números complejos (complex)

In [ ]:
4 + 2j

(4+2j)

In [ ]:
type(1j)

complex

## Operaciones básicas

In [ ]:
# suma

3 + 4

7

In [ ]:
3.5 + 9.4

12.9

In [ ]:
# resta 

3.4 - 4

-0.6000000000000001

In [ ]:
# multiplicacion

3 * 4

12

In [ ]:
# division

3 / 4

0.75

In [ ]:
# division entera

20 / 3

6.666666666666667

In [ ]:
20 // 3

6

In [ ]:
# modulo, resto de la division

20 % 3

2

In [ ]:
# jerarquia de operaciones


2 + 3 * 4

14

In [ ]:
3 * (4 + 2)

18

In [ ]:
# potencia / raiz

2 ** 3

8

In [ ]:
2 ** (1/2)

1.4142135623730951

## Booleanos

In [ ]:
bool(1)

True

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
True == False

False

In [ ]:
0.5 == .5

True

In [ ]:
5 < 8

True

In [ ]:
3 > 5

False

In [ ]:
not True

False

## Valores nulos (None)

In [ ]:
print(None)

None

In [ ]:
type(None)

NoneType

## Cadenas de caracteres (string)

In [ ]:
nombre = 'Pepe'

In [ ]:
type(nombre)

str

In [ ]:
"hola estoy en 'Ironhack'"

"hola estoy en 'Ironhack'"

In [ ]:
print('hola estoy en \n "Ironhack"')

hola estoy en
 "Ironhack"

In [ ]:
# comentario

In [ ]:
'''
comentario multilinea, a no ser que se iguale a una variable
'''

'\ncomentario multilinea, a no ser que se iguale a una variable\n'

In [ ]:
nombre.split('e')

['P', 'p', '']

In [ ]:
'-'.join(['a', 'g', 'p'])

'a-g-p'

## Listas

In [ ]:
lst=[10, 43, 546, 346, 6, 4363, 46, 346, 4, 643, 6433, 46436, 654]

lst2=['hola', 'adios', 'peppe']

print(lst)

[10, 43, 546, 346, 6, 4363, 46, 346, 4, 643, 6433, 46436, 654]

In [ ]:
type(lst)

list

In [ ]:
len(lst)

13

In [ ]:
min(lst), min(lst2)

(4, 'adios')

In [ ]:
max(lst), max(lst2)

(46436, 'peppe')

In [ ]:
sum(lst) / len(lst)    # media

4605.846153846154

In [ ]:
lst[0]   # indices empiezan en cero

10

In [ ]:
lst[0]=10000

lst

[10000, 43, 546, 346, 6, 4363, 46, 346, 4, 643, 6433, 46436, 654]

In [ ]:
lst[-1]

654

In [ ]:
# slicing, acceso por indices en listas

# lst[start : stop : step]

lst[1 : 100 : 2]

[43, 346, 4363, 346, 643, 46436]

In [ ]:
lst[::2]

[10000, 546, 6, 46, 4, 6433, 654]

## Diccionarios

In [ ]:
dictio={'key': 'value', 3: 643, 'bool': True}

dictio

{'key': 'value', 3: 643, 'bool': True}

In [ ]:
type(dictio)

dict

In [ ]:
dictio['key']

'value'

In [ ]:
dictio['key']=10   # sobreescribe el valor

dictio

{'key': 10, 3: 643, 'bool': True}

In [ ]:
dictio.keys()

dict_keys(['key', 3, 'bool'])

In [ ]:
dictio.values()

dict_values([10, 643, True])

In [ ]:
dictio.items()

dict_items([('key', 10), (3, 643), ('bool', True)])

## Bucles

In [ ]:
lst=[1,1,4,5,6,90,45]

In [ ]:
for e in lst:    # para cada elemento en la lista...
    print(e)

1
1
4
5
6
90
45

In [ ]:
for i in range(len(lst)):   # para cada indice en el rango de....
    print(i)

0
1
2
3
4
5
6

In [ ]:
for i in range(0, len(lst), 2):   # start-stop-step
    print(i)

0
2
4
6

In [ ]:
for i,e in enumerate(lst):
    
    print(i, e, sep=' -- ')

0 -- 1
1 -- 1
2 -- 4
3 -- 5
4 -- 6
5 -- 90
6 -- 45

## Condicionales

In [ ]:
estudiante = 'Pepe 😷'

estudiante[-1]

'😷'

In [ ]:
if estudiante[-1] == '😷':
    print(estudiante, ' puede entrar en el campus.')
    
else:
    print(estudiante, ' NO puede entrar en el campus.')

Pepe 😷  puede entrar en el campus.

In [ ]:
a=0

if a==0:
    print('cerito')
    
elif a<=0:
    print('menor')
    
elif a>0:
    print('mayor')
    
else:
    print('ni idea alegre')
    
    
print('acabe')

cerito
acabe

In [ ]:
# bucle while (basado en condicion)


# fibonacci

lst=[0, 1]

a=0
b=1

print(a)
print(b)

contador=0

while contador <= 10:
    
    c = a+b
    
    print(c)
    
    lst.append(c)
    
    a = b
    b = c
    
    contador+=1
    
print('acabe')

0
1
1
2
3
5
8
13
21
34
55
89
144
acabe

# 02 - Análisis de supermercado (Birmania)

![](https://thumbs.dreamstime.com/b/interior-supermarket-zero-customer-clean-bright-lighting-display-variety-product-shelves-barrels-yangon-myanmar-183629382.jpg)

https://www.kaggle.com/code/ahmedsafwatgb20/supermarkets-sales/data

In [ ]:
%pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [ ]:
import io
from google.colab import files

data=files.upload()

Saving supermarket_sales.csv to supermarket_sales (1).csv

In [ ]:
# caragamos datos

df=pd.read_csv(io.BytesIO(data['supermarket_sales.csv']))

**intro pandas**

In [ ]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [ ]:
df.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [ ]:
df.describe()   # descripcion

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,0.000000,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905,49.650000,10.00000

In [ ]:
df.mean()   # media por columnas

Unit price                  55.672130
Quantity                     5.510000
Tax 5%                      15.379369
Total                      322.966749
cogs                       307.587380
gross margin percentage      4.761905
gross income                15.379369
Rating                       6.972700
dtype: float64

In [ ]:
df.max()  # maximo por columnas

Invoice ID                       898-04-2717
Branch                                     C
City                                  Yangon
Customer type                         Normal
Gender                                  Male
Product line               Sports and travel
Unit price                             99.96
Quantity                                  10
Tax 5%                                 49.65
Total                                1042.65
Date                                3/9/2019
Time                                   20:59
Payment                              Ewallet
cogs                                   993.0
gross margin percentage             4.761905
gross income                           49.65
Rating                                  10.0
dtype: object

In [ ]:
df.max(axis=1).head()  # maximo por filas

0    548.9715
1     80.2200
2    340.5255
3    489.0480
4    634.3785
dtype: float64

In [ ]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 632.0 KB

In [ ]:
df.shape

(1000, 17)

In [ ]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [ ]:
df['City'].head()   # seleccion de columna

0       Yangon
1    Naypyitaw
2       Yangon
3       Yangon
4       Yangon
Name: City, dtype: object

In [ ]:
df['Rating'].head()

0    9.1
1    9.6
2    7.4
3    8.4
4    5.3
Name: Rating, dtype: float64

In [ ]:
df[['City', 'Rating', 'Total']].head()     # seleccion de varias columnas

        City  Rating     Total
0     Yangon     9.1  548.9715
1  Naypyitaw     9.6   80.2200
2     Yangon     7.4  340.5255
3     Yangon     8.4  489.0480
4     Yangon     5.3  634.3785

In [ ]:
df['Rating'][0] * 110   # seleccion de elemento

1001.0

In [ ]:
df['Rating'] * 110

0      1001.0
1      1056.0
2       814.0
3       924.0
4       583.0
        ...
995     682.0
996     484.0
997     847.0
998     451.0
999     726.0
Name: Rating, Length: 1000, dtype: float64

In [ ]:
df[df['City']=='Yangon'].head()   # seleccion por condicion

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8

In [ ]:
df[(df['City']=='Yangon') & (df['Unit price']<50)].head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
12,365-64-0515,A,Yangon,Normal,Female,Electronic accessories,46.95,5,11.7375,246.4875,2/12/2019,10:25,Ewallet,234.75,4.761905,11.7375,7.1
13,252-56-2699,A,Yangon,Normal,Male,Food and beverages,43.19,10,21.5950,453.4950,2/7/2019,16:48,Ewallet,431.90,4.761905,21.5950,8.2
23,636-48-8204,A,Yangon,Normal,Male,Electronic accessories,34.56,5,8.6400,181.4400,2/17/2019,11:15,Ewallet,172.80,4.761905,8.6400,9.9

In [ ]:
df['City'].unique()

array(['Yangon', 'Naypyitaw', 'Mandalay'], dtype=object)

In [ ]:
df['City'].value_counts()

Yangon       340
Mandalay     332
Naypyitaw    328
Name: City, dtype: int64

In [ ]:
df['Quantity'].sort_values(ascending=False)

761    10
269    10
797    10
182    10
565    10
       ..
161     1
156     1
773     1
777     1
500     1
Name: Quantity, Length: 1000, dtype: int64

In [ ]:
df.groupby('City')

In [ ]:
df.groupby('City').sum()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
City,,,,,,,,
Mandalay,18478.88,1820,5057.0320,106197.6720,101140.64,1580.952381,5057.0320,2263.6
Naypyitaw,18567.76,1831,5265.1765,110568.7065,105303.53,1561.904762,5265.1765,2319.9
Yangon,18625.49,1859,5057.1605,106200.3705,101143.21,1619.047619,5057.1605,2389.2

In [ ]:
df.groupby('City').sum()['Tax 5%']

City
Mandalay     5057.0320
Naypyitaw    5265.1765
Yangon       5057.1605
Name: Tax 5%, dtype: float64

In [ ]:
df['Date'][0].split('/')[2]  # transformacion fechas

'2019'

In [ ]:
df['month'] = df['Date'].apply(lambda x: x.split('/')[0])
df['day'] = df['Date'].apply(lambda x: x.split('/')[1])
df['year'] = df['Date'].apply(lambda x: x.split('/')[2])

In [ ]:
df['hour']=df['Time'].apply(lambda x: x.split(':')[0])

* ¿Qué rama genera más beneficio? 

* ¿En qué ciudad se vende más? 

* ¿En qué ciudad se gana más? 

* ¿Existe diferencia de consumo/gasto por género? 

* ¿Qué línea de producto genera más beneficio? 

* ¿Cuál es el precio medio según la línea de producto? 

* ¿Cuál es la cantidad media comprada? 

* ¿Qué meses son más productivos? 

* ¿Qué horas son más productivos? 

* ¿Cuál es el rating medio de nuestros productos? 

* ¿Tipo de pago más usual?

### a) ¿Qué rama genera más beneficio?

In [ ]:
df.groupby('Branch').sum()['Total']

# brach C

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

### b) ¿En qué ciudad se vende más?

In [ ]:
df.groupby('City').sum()['Quantity']

# city Yangon

City
Mandalay     1820
Naypyitaw    1831
Yangon       1859
Name: Quantity, dtype: int64

### c) ¿En qué ciudad se gana más?

In [ ]:
df.groupby('City').sum()['Total']

# city Naypyitaw

City
Mandalay     106197.6720
Naypyitaw    110568.7065
Yangon       106200.3705
Name: Total, dtype: float64

### d) ¿Existe diferencia de consumo/gasto por género?

In [ ]:
df.groupby('Gender').mean()['Total']

Gender
Female    335.095659
Male      310.789226
Name: Total, dtype: float64

### e) ¿Qué línea de producto genera más beneficio?

In [ ]:
df.groupby('Product line').sum()['Total'].sort_values(ascending=False)

Product line
Food and beverages        56144.8440
Sports and travel         55122.8265
Electronic accessories    54337.5315
Fashion accessories       54305.8950
Home and lifestyle        53861.9130
Health and beauty         49193.7390
Name: Total, dtype: float64

### f) ¿Cuál es el precio medio según la línea de producto?

In [ ]:
df.groupby('Product line').mean()['Unit price']

Product line
Electronic accessories    53.551588
Fashion accessories       57.153652
Food and beverages        56.008851
Health and beauty         54.854474
Home and lifestyle        55.316937
Sports and travel         56.993253
Name: Unit price, dtype: float64

### g) ¿Cuál es la cantidad media comprada?

In [ ]:
df['Quantity'].mean()

5.51

### h) ¿Qué meses son más productivos?

In [ ]:
df.groupby('month').sum()['Total'].sort_values(ascending=False)

month
1    116291.868
3    109455.507
2     97219.374
Name: Total, dtype: float64

### i) ¿Qué horas son más productivos?

In [ ]:
df.groupby('hour').mean()['Total'].sort_values(ascending=False)

hour
14    371.426494
19    351.323124
11    337.525883
13    337.118709
17    330.340784
16    327.614591
10    311.103772
20    306.260360
15    305.681456
12    292.875084
18    279.896129
Name: Total, dtype: float64

### j) ¿Cuál es el rating medio de nuestros productos?

In [ ]:
df['Rating'].mean()

6.9727

### k) ¿Tipo de pago más usual?

In [ ]:
df['Payment'].value_counts()

Ewallet        345
Cash           344
Credit card    311
Name: Payment, dtype: int64